/* ROCK BADGE */
div, *{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.wrap{
  height: 100vh;
  width: 100%;
}
.wrap-badge{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
  .header-badge{
    width: 100%;
    text-align: center;
    margin: 18px 0;
    font-family: 'Indie Flower', cursive;
    color: #8c8c8c;
    font-size: 38px;
  }
  .badge-boulder{
    width: 257px;
    height: 229px;
    position: relative;
  }
  .background{
    height: 100%;
    position: absolute;
    background: #000;
    width: 89%;
    border-radius: 100%;
    margin: auto;
    left: 0;
    right: 0;
  }
  .trapezoids-bg .trapezoid{
    background: #000;
  }
    .trapezoids-bg .trapezoid01{
      transform: scale(1.10);
      height: 77px;
    width: 87px;
    }
    .trapezoids-bg .trapezoid02{
      transform: scale(1.10) rotate(45deg);
    }
    .trapezoids-bg .trapezoid03{
      transform: scale(1.10) rotate(90deg);
    }
    .trapezoids-bg .trapezoid04{
      transform: scale(1.10) rotate(135deg);
    }
    .trapezoids-bg .trapezoid05{
      transform: scale(1.10) rotate(180deg);
      height: 64px;
      width: 87px;
    }
    .trapezoids-bg .trapezoid06{
      transform: scale(1.10) rotate(-45deg);
    }
    .trapezoids-bg .trapezoid07{
      transform: scale(1.10) rotate(-90deg);
    }
    .trapezoids-bg .trapezoid08{
      transform: scale(1.10) rotate(-135deg);
    }

  .trapezoid {
    clip-path: polygon(0 0, 100% 0, 73% 100%, 27% 100%);
    height: 60px;
    width: 90px;
    background: #ddd;
    position:absolute;
  }
  .trapezoid01{
    left: 0;
    right: 0;
    margin: auto;
    
  }
   .trapezoid02{
    transform: rotate(45deg);
    top: 24px;
    right: 24px;
  }
  .trapezoid03{
    transform: rotate(90deg);
    right: -1px;
    top: 84px;
  }
  .trapezoid04{
    transform: rotate(135deg);
    top: 144px;
    right: 24px;
  }
  .trapezoid05{
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
    .trapezoid06{
      
      transform: rotate(-45deg);
      right: 143px;
      top: 24px;
      }
    
    .trapezoid07{
      
      transform: rotate(-90deg);
      left: -1px;
      top: 84px;
    }
    .trapezoid08{
      
      transform: rotate(-135deg);
      left: 24px;
      top: 144px;
    }

.center-octogone{
  width: 39%;
  height: 44%;
  background: #e9e9e9;
  position: absolute;
  position: absolute;
  
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

}